/* ----- CSS Reset ----- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- END CSS Reset ----- */


.room {
    display: block;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    padding: .5rem;
}

.room .roomName {
    font-weight: bold;
    font-size: larger;
    margin-bottom: .5rem;
}

.room .roomDesc {
    display: inline-block;
    margin-bottom: .5rem;
}

.room .exits {
    font-weight: bold;
}

.room .exits .exitsLabel {
    font-weight: normal;
}

.mobList {
    margin-top: .5rem;
    font-weight: 500;
    color: #055184;
}

.playerList {
    margin-top: .5rem;
    font-weight: 300;
    color: #777;
}

#northRoom {
    min-height: 8rem;
    font-size: .7rem;
    opacity: .3;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    box-shadow: .3rem 0 1rem -.3rem #333, -.3rem 0 1rem -.3rem #333;
    overflow: hidden;
}

#westRoom {
    min-height: 10rem;
    margin-top: 15%;
    font-size: .7rem;
    opacity: .3;
    border-top: 1px solid grey;
    border-bottom: 1px solid black;
    box-shadow: 0 .3rem 1rem -.3rem #333;
}

#currentRoom {
    min-height: 15rem;
    font-size: 1.2rem;
    box-shadow: 0 0 .5rem;
}

#eastRoom {
    min-height: 10rem;
    margin-top: 15%;
    font-size: .7rem;
    opacity: .3;
    border-top: 1px solid grey;
    border-bottom: 1px solid black;
    box-shadow: 0 .3rem 1rem -.3rem #333;
}

#southRoom {
    min-height: 8rem;
    font-size: .7rem;
    opacity: .3;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    box-shadow: .3rem 0 1rem -.3rem #333, -.3rem 0 1rem -.3rem #333;
    overflow: hidden;
}

#noRoom {
    min-height: 8rem;
}

#prompt input {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 1rem;
    height: 1.7rem;
    border-top: none;
    border-left: .1rem solid #CCC;
    border-right: .1rem solid #CCC;
    padding: .2rem;
    box-shadow: 0 .3rem 1rem -.3rem #333;
    outline: none;
}

#messages {
    padding: .1rem 0;
    padding-bottom: 0;
    margin-top: .5rem;
    height: 5.8rem;
    line-height: 1.2rem;
    overflow-x: hidden;
    overflow-y: scroll;
/*    border: 1px solid grey; */
/*    box-shadow: 0 0 10px; */
}

#messages .playerName {
    font-weight: bold;
}

#messages .msg {
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    color: #0000DD;
}

#login {
    float: left;
}

::-webkit-input-placeholder {
    color: #DDD
}

:-moz-placeholder {     /* Firefox 18- */
    color: #DDD
}

::-moz-placeholder {    /* Firefox 19+ */
    color: #DDD
}

:-ms-input-placeholder {
    color: #DDD
}

/* My Bootstrap Customizations */

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
