<body>

{{#if currentUser}}

  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
        <input class="btn btn-primary" id="logout" type="button" value="Logout">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div id="{{#if northRoom}}northRoom{{else}}noRoom{{/if}}">
          {{> room northRoom}}
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
        <input class="btn btn-primary" id="repop" type="button" value="Repop">
      </div>
    </div>

    <div class="row no-gutter">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div id="{{#if westRoom}}westRoom{{else}}noRoom{{/if}}">
          {{> room westRoom}}
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div id="currentRoom">
          {{> room currentRoom}}
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div id="{{#if eastRoom}}eastRoom{{else}}noRoom{{/if}}">
          {{> room eastRoom}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3"></div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <div id="{{#if southRoom}}southRoom{{else}}noRoom{{/if}}">
          {{> room southRoom}}
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3"></div>
    </div>

    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <form id="prompt">
          <input type="text" name="command" placeholder="Enter a command" autocomplete="off" autofocus/>
        </form>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        {{> messageBox}}
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    {{#if inCombat}}
      {{> combatMsgBox}}
    {{/if}}

  </div>

{{else}}
  {{#if isNewPlayer}}
    {{> newPlayer}}
  {{else}}
    {{> login}}
  {{/if}}
{{/if}}

</body>
