<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head;
       any other head content must come *after* these tags -->
  <title>CloudyWaters</title>
  <script src="vex/vex.combined.min.js"></script>
  <script>vex.defaultOptions.className = 'vex-theme-wireframe';</script>
  <link rel="stylesheet" href="vex/vex.css" />
  <link rel="stylesheet" href="vex/vex-theme-wireframe.css" />
</head>
